<!DOCTYPE html>
<html ng-controller="mainCtrl">
    <!-- <html manifest="manifest.php" ng-controller="mainCtrl"> -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="wap-font-scale" content="no">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="format-detection" content="telephone=no">

        <meta name="full-screen" content="true"/>
        <meta name="screen-orientation" content="portrait"/>
        <meta name="x5-fullscreen" content="true"/>
        <meta name="360-fullscreen" content="true"/>
        <title ng-bind="init.headinfo.title"></title>
        <!-- Favicon-->
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link  rel="apple-touch-icon" href="/img/favicon.ico" sizes="57x57">
        <link rel="stylesheet" type="text/css" href="/detail/style.css">
        <link rel="stylesheet" type="text/css" href="/detail/sm.min.css">
        <link rel="stylesheet" type="text/css" href="/detail/sm-extend.min.css">
        <link rel="stylesheet" type="text/css" href="/detail/detail.css">
    </head>
    <body>
        <div class="page" ui-view>
            <!-- content: start -->
            <div class="content goods_detail">
                <!-- banner: start -->
                <section class="banner">
                    <ul class="banner_list clearfix swiper-wrapper">
                        <%product.images.forEach(function(i){%>
                        <li class="swiper-slide">
                            <img src="http://img.beautysite.cn/<%=i%>!/fw/750" alt="">
                        </li>
                        <%});%>
                    </ul>
                    <div class="swiper-pagination"><span></span></div>
                </section>
                <!-- banner: end -->

                <!-- 特卖商品 -->
                <%if(product.event){%>
                  <div class="event clearfix" ng-if="data.event">
                      <span class="pull-left">￥<span><%=product.event.price%></span></span>
                      <div class="pull-left">
                          <p><%=product.virtualBuyCount%>人已购买</p>
                          <p>
                              <span>￥<%=product.marketPrice%></span>
                              <span><%=product.discount%>折</span>
                          </p>
                      </div>
                      <div class="pull-right countDown">
                          还剩<span>0</span>天<span>0</span>:<span>00</span>:<span>00</span>.<span>0</span>
                      </div>
                  </div>
                <%}%>
                <!-- 商品head头信息：start -->
                <section class="goods_head">
                    <h2>【<%=product.introduction%>】<%=product.name%></h2>
                    <%if(!product.event){%>
                    <div class="goodsInfo clearfix" ng-if="!data.event">
                        <span>￥<span><%=product.price%></span></span>
                        <span>￥<%=product.marketPrice%></span>
                        <span><%=product.discount%>折</span>
                        <% if(isSenior){%>
                        <span class="pull-right rebate">
                            <span>返</span>
                            <span><%=parseInt(product.rebateRatio*100)%><span>%</span></span>
                            <span><span>￥</span><%=product.rebatePrice.toFixed(2)%></span>
                        </span>
                        <%} else {%>
                        <span class="pull-right"><%=product.virtualBuyCount%>人已购买</span>
                        <%}%>
                    </div>
                    <%}%>
                </section>
                <!-- 商品head头信息：end -->
                <!-- ensure: start -->
                <nav class="bar-tab goods_ensure">
                    <a href="javascript:void(0);" class="tab-item">
                        <img src="/detail/z1.png" alt="">
                        正品保证
                    </a>
                    <a href="javascript:void(0);" class="tab-item">
                        <img src="/detail/z2.png" alt="">
                        送达寝室
                    </a>
                    <a href="javascript:void(0);" class="tab-item">
                        <img src="/detail/z3.png" alt="">
                        免费试用
                    </a>
                    <a href="javascript:void(0);" class="tab-item">
                        <img src="/detail/z4.png" alt="">
                        无忧退货
                    </a>
                </nav>
                <!-- ensure: end -->
                <!-- comment: start -->
                <%if(comments.rows.length>0){%>
                <section class="comment" ng-if="comment.count">
                      <ul>
                          <li class="comment_title clearfix">
                              商品评论（<%=stat.totalComment%>）
                              <a href="#/goods/comment/{{proId}}" class="pull-right">
                                  好评度：<span class="red"><%=stat.score?stat.score:0%>%</span> <i class="icon icon-right"></i>
                              </a>
                          </li>
                          <li class="common_list" ng-repeat="commentList in comment.rows | limitTo: 1">
                              <div class="clearfix userBox">
                                  <img class="photo pull-left" src="/detail/default_avatar.png" alt="">
                                  <span class="pull-right"><%=comments.rows[0].createdAt.substr(0,10)%></span>
                                  <div>
                                      <div>
                                          <div>
                                              <span>
                                                  <%=comments.rows[0].member.nickName%>
                                              </span>
                                              <img src="http://img.beautysite.cn/icon/L<%=comments.rows[0].member.level%>.png" alt="">
                                              <%if(comments.rows[0].member.seniorMember){ %>
                                              <img src="http://img.beautysite.cn/icon/S<%=comments.rows[0].member.seniorMember.level%>_mini.png" alt="">
                                              <%}%>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <p class="clearfix">
                                  <span class="pull-left" class="star">
                                      <%for(var i=0;i<comments.rows[0].stars;i++){%>
                                        <i class="ing"></i>
                                      <%}%>
                                      <%for(var i=0;i<5-comments.rows[0].stars;i++){%>
                                        <i class=""></i>
                                      <%}%>
                                  </span>
                              </p>
                              <p class="clearfix">
                                  <span class="textComment"><%=comments.rows[0].textComment%></span>
                              </p>
                          </li>
                          <li class="toAllBtn text-center">
                              <a href="http://wap.beautysite.cn/?from=app#/goods/comment/<%=product._id%>">查看全部评论</a>
                          </li>
                      </ul>
                  </section>
                <%}%>

                <!-- comment: end -->

                <!-- detail: start -->
            <section class="goods_detail_list ng-binding">
                <%-product.desc%>
            </section>
            <!-- detail: end -->
        </div>
        <!-- content: end -->
    </div>

    <script src="/detail/zepto.min.js"></script>
    <script src="/detail/sm.min.js"></script>
    <script src="/detail/sm-extend.min.js"></script>
    <script src="/detail/lazyLoad.js"></script>

    <script type="text/javascript">
        // banner 滑动插件
        if ($(".banner img").length > 1) {
            $(".banner").swiper({
                autoplay: 4000,  // delay between transitions
                autoplayDisableOnInteraction: false,  // Set to false and autoplay will not be disabled after user interactions
                pagination: '.swiper-pagination'  //分页 class
            });
        }

        // lazyload
        $(".goods_detail_list img").map(function() {
            $(this).attr("lazySrc", $(this).prop("src"))
            .prop("src", "/detail/loading-200.jpg");
        });
        $(".goods_detail_list img").lazyLoad();

        /* 特卖商品打折倒计时 */
        var t = <%=product.event?product.event.endTime:0%> - new Date().getTime();
        if(t<0){
          t=0;
        }
        var endTime = t,
            day, hh, mm, ss, ms,
            $countDown = $('.countDown span');

        function limit2(time){
            return (time < 10 ? '0' : '') + time;
        }

        var interval = setInterval(function(){
            day = parseInt(endTime/(24*60*60*1000)); // 天
            hh = parseInt(endTime%(24*60*60*1000)/(60*60*1000)); // 时
            mm = parseInt(endTime%(60*60*1000)/(60*1000));   // 分
            ss = parseInt(endTime%(60*1000)/1000);   // 秒
            ms = parseInt(endTime%1000/100); // 毫秒/10

            $countDown.eq(0).text(day)
            $countDown.eq(1).text(limit2(hh))
            $countDown.eq(2).text(limit2(mm))
            $countDown.eq(3).text(limit2(ss))
            $countDown.eq(4).text(ms)
            if (endTime <= 0) clearInterval(interval);
            endTime -= 100;
        }, 100);
    </script>
</body>
</html>
